<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SponsorConnect" value="https://sponsorconnect.dev/v3/index.json" />
    <!-- other package sources as needed -->
  </packageSources>
  <packageSourceCredentials>
    <SponsorConnect>
      <add key="Username" value="Codelisk" />
      <add key="ClearTextPassword" value="${{ secrets.SPONSOR_CONNECT_PASSWORD }}" />
    </SponsorConnect>
  </packageSourceCredentials>
</configuration>